.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Full viewport height */

}

.form-box {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 300px; /* Set a fixed width */
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signup-button {
    width: 30%;
    padding: 10px;
    background-color: #007bff; /* Primary color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

.error-message {
    color: red;
    text-align: center;
    margin-bottom: 10px; /* Space below error message */
}

.signup-title{
    text-align: center;
    margin-bottom: 20px;
}