.sports-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 10px; /* Space between the grid items */
    justify-content: space-evenly;
}

.sport-card {
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.sport-card img {
    width: 100%; /* Make image take full width of the card */
    height: 300px; /* Set a fixed height */
    object-fit: cover; /* Maintain aspect ratio and cover the area */
    border-radius: 5px; /* Optional: round corners of the image */
}



